@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    cursor: none !important;
  }
  
  html,
  body {
    @apply bg-ivory text-charcoal font-sans antialiased;
    overflow-x: hidden;
    scroll-behavior: smooth;
  }

  /* Custom scrollbar for Webkit */
  ::-webkit-scrollbar {
    width: 10px;
  }
  ::-webkit-scrollbar-track {
    @apply bg-charcoal;
  }
  ::-webkit-scrollbar-thumb {
    @apply bg-gold/50;
  }
  ::-webkit-scrollbar-thumb:hover {
    @apply bg-gold;
  }
}

@layer utilities {
  .nav-shrink {
    padding-top: 12px !important;
    padding-bottom: 12px !important;
  }
}
